@CHARSET "UTF-8";

.enter-stage-right {
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -moz-animation-name: slidein;
    -webkit-animation-name: slidein;
}
@-moz-keyframes slidein {
    from { margin-left: 100%; }
    to { margin-left: 10%; }
}
@-webkit-keyframes slidein {
    from { margin-left: 100%; }
    to { margin-left: 10%; }
}


#title {
    position:absolute;
    left:20px;
    top:20px;
}

#prompt {
    position:absolute;
    bottom:20px;
    left:20px;
}

#properties {
    color:white;
    position:absolute;
    left:810px;
    top:140px;
    font-size:16px;
    margin-top:10px;
    margin-left:10px;
}

.colorSelector {
    position: absolute;
    font-size:16px;
    margin-left:10px;
}

.colorSelector div {
    position: absolute;
    top: 4px;
    left: 140px;
    width: 28px;
    height: 28px;
    background: url(../js/colorpicker/images/select2.png) center;
}

#directional {
    position: absolute;
    top:80px;
}

#point {
    position: absolute;
    top:120px;
}

#spot {
    position: absolute;
    top:160px;
}

#ambient {
    position: absolute;
    top:200px;
}
.footer-description {
    position: absolute !important;
    width: 800px;
    top: 785px;

}
.footer-born-on {
    position: absolute !important;
    top: 850px;
    width: 800px;
}



