
.wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    font-weight: bold;
    text-align: center;
}
}

.wrapper > * {
    padding: 0px;
    flex: 1 100%;
}

.north {
    background: tomato;
}

.south {
    background: lightgreen;
}

.main {
    justify-content: flex-start;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    flex-grow: 1;
}

.main > * {
    padding: 0px;
    flex: 1 100%;
}


.west {
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 0px;
    padding-right: 5px;
    background-color: gainsboro;
    color: black;
    min-width: 325px;
    max-width: 325px;
    justify-content: flex-start;
    text-align: left;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    flex-grow: 0;
    flex-shrink: 0;
}

.west > * {
    padding: 0px;
    flex: 1 100%;
}

.east {
    background: hotpink;
}

@media all and (min-width: 600px) {
    .west {
        flex: 1 auto;
    }

}

@media all and (min-width: 800px) {
    .main {
        flex: 5 0px;
    }

    .west {
        order: 1;
    }

    .main {
        order: 4;
    }
}

body {
    padding: 0em;
}
