@import url('~/css/core.dark.android.css');

Page {
    background-image: url('~/images/game-board-logo.png');
    background-repeat: no-repeat;
    background-position: center;
}

actionbar {
    background-color: black;
    color: white;
}

button {
    font-size: 15vw;
    horizontal-align: center;
    /*background-color: #676E5F;
    color: white;*/
    height: 15%;
    width: 50%;
    padding: 0%;
}

Label {
    font-size: 15vw;
    text-align: left;
    border-width: 1;
    border-color: gray;

}

TextField.labelAddHighScore {
    color: black;
    font-size: 15vw;
    width: 20%;
    /*background-color: #676E5F;
    color: white;*/
}

TextField.textFieldAddHighScore {
    font-size: 15vw;
    width: 80%;
    color: blue;
    /*background-color: white;
    color: #676E5F;*/
}

TextField.disabled {
    font-size: 15vw;
    width: 80%;
    background-color: lightgray;
    color: black;
    /*color: #676E5F;*/
}

Button.buttonAddHighScore {
    font-size: 15vw;
}

TextField {
    font-size: 15vw;
    width: 50%;
    vertical-align: bottom;
}

GridLayout {
    padding: 20;
}

StackLayout {
    padding: 10;
}

StackLayout.pushRight {
    width: 100%;
    horizontal-align: right;
    padding: 5;
}
