.ag-tree-grid {
  zoom: 150%;
}

.ag-tree-grid-filter {
  width: 100%;
  background-color: #000;
  color: white;
  border: none;
  outline: none;
  --webkit-input-placeholder: white;
  zoom: 150%;
}


input[type="text"], textarea {
  padding: 7px 10px;
  font-size: 14px;
  background: #000;
  color: lime;
}

.ag-header,
.ag-header-viewport {
  display: none !important;
}

.mdi {
  font-size: 1.1rem;
  vertical-align: middle;
}

.pull-left {
  margin-left: 0px;
}