body {
     font-family: "Courier New";
     font-size: small;
     padding: 5px;
}

.app {
     border: 1px dashed red;
     padding: 20px;
}

.container {
     border: 1px dashed green;
     padding: 5px;
}
