<app-toolbar [componentId]="'appHeader'">
  <div content>
    <nav class="navbar navbar-expand navbar-dark" style="height: 25px;">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li *ngIf="!isPermission" class="nav-item">
            <a class="nav-link" [id]="'fiddleHeaderNotifyPermissionBtn'" (click)="onNotifyPermissionBtnClick()">
              <i class="far fa-bell"></i> Enable Notifications
            </a>
          </li>
          <li *ngIf="isPermission" class="nav-item">
            <a class="nav-link" [id]="'fiddleHeaderDisableBtn'" (click)="onDisableBtnClick()">
              <i class="fas fa-bell-slash"></i> Disable Notifications
            </a>
          </li>
          <li *ngIf="!isSound" class="nav-item">
              <a class="nav-link" [id]="'fiddleHeaderEnableSoundBtn'" (click)="onEnableSoundBtnClick()">
                  <i class="fas fa-volume-up"></i> Enable Sound
              </a>
          </li>
          <li *ngIf="isSound" class="nav-item">
              <a class="nav-link" [id]="'fiddleHeaderDisableSoundBtn'" (click)="onDisableSoundBtnClick()">
                  <i class="fas fa-volume-mute"></i> Disable Sound
              </a>
          </li>
            
          <li class="nav-item">
            <a class="nav-link" [id]="'fiddleHeaderResetBtn'" (click)="onResetClick()">
              <i class="fas fa-undo"></i> Reset Grid
            </a>
          </li>
        </ul>
      </div>

    </nav>
  </div>
</app-toolbar>
