table {
    width: calc(100%) !important;
    padding: 0;
    margin: 0;
}

a {
    cursor: pointer;
}

/*label {*/
     /*color: white !important;*/
/*}*/

/*.badge-medium {*/
    /*color: var(--blue7);*/
/*}*/