
body#ext-element-1 {
    background-image: url(http://dev.sencha.com/ext/5.1.0/examples/kitchensink/crisp-en/resources/images/square.gif) !important;
    background-repeat: repeat;
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -moz-animation-name: slide-up;
    -webkit-animation-name: slide-up;
}



div.console {
    margin-top: 20px;
    margin-left: 750px;
    text-align: left;
    font-family: Courier, "Courier New";
    font-size: x-small;
}
div.error {
    color: red;
    font-weight: bold;
}


@-moz-keyframes slide-up {
    from {
        margin-top: 100%;
    }

    to {
        margin-top: 0%;
    }
}

@-webkit-keyframes slide-up {
    from {
        margin-top: 100%;
    }

    to {
        margin-top: 0%;
    }
}

