####################
## UNFINISHED FIDDLES
####################
fiddles/angular2/fiddle-0027-ToDoList

####################
## ANGULAR 2
####################
logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
build/Release
/node_modules/
/typings/
.lock-wscript
.tsdrc
.typingsrc
.idea
.vscode
*.iml
gulpfile.js
dist
dev
docs
lib
test
tmp

####################
## MISC
####################
icons/
jasmine/
magpie/
.idea/
out/
siesta/
web/packages/house-theme/build
fiddles/java/.idea/
.DS_Store
fiddles/compass/*/.sass-cache/
codekit*
*.codekit
avatar.*
*.gz
script.log
stdout.txt
stdout~.txt
ext-all-debug.js
nohup.out
npm-debug.log
lib
fiddles/java/out
java.iml
FiddleParallelStream.java
FiddlePredicatePivot.java
foreignObject.svg
recursivetree.htm
*-compiled.js
*.map
*.iml
*.jar
*.dmg
