[submodule "fiddles/nativeScript/libs/nativescript-marketplace-demo"]
	path = fiddles/nativeScript/libs/nativescript-marketplace-demo
	url = https://github.com/NativeScript/nativescript-marketplace-demo
[submodule "fiddles/bash/libs/the-art-of-command-line"]
	path = fiddles/bash/libs/the-art-of-command-line
	url = https://github.com/jlevy/the-art-of-command-line
[submodule "fiddles/angular/libs/angular.js"]
	path = fiddles/angular/libs/angular.js
	url = https://github.com/angular/angular.js
[submodule "fiddles/chrome/libs/programming_chrome_apps"]
	path = fiddles/chrome/libs/programming_chrome_apps
	url = https://github.com/MarcRochkind/programming_chrome_apps.git
[submodule "fiddles/jquery/libs/ITM463"]
	path = fiddles/jquery/libs/ITM463
	url = https://github.com/bradyhouse/ITM463.git
[submodule "fiddles/three/libs/WebGLBook"]
	path = fiddles/three/libs/WebGLBook
	url = https://github.com/tparisi/WebGLBook.git
[submodule "fiddles/three/libs/three.js"]
	path = fiddles/three/libs/three.js
	url = https://github.com/mrdoob/three.js/
[submodule "fiddles/python/libs/ITM413"]
	path = fiddles/python/libs/ITM413
	url = https://github.com/bradyhouse/ITM413.git
[submodule "fiddles/php/libs/ITM462"]
	path = fiddles/php/libs/ITM462
	url = https://github.com/bradyhouse/ITM462.git
[submodule "fiddles/tween/libs/tween.js"]
	path = fiddles/tween/libs/tween.js
	url = https://github.com/tweenjs/tween.js.git
[submodule "fiddles/android/libs/ITM455"]
	path = fiddles/android/libs/ITM455
	url = https://github.com/bradyhouse/ITM455.git
[submodule "fiddles/angular2/libs/systemjs"]
	path = fiddles/angular2/libs/systemjs
	url = https://github.com/systemjs/systemjs
[submodule "fiddles/angular2/libs/traceur-compiler"]
	path = fiddles/angular2/libs/traceur-compiler
	url = https://github.com/google/traceur-compiler.git
[submodule "fiddles/angular2/libs/ag-grid"]
	path = fiddles/angular2/libs/ag-grid
	url = https://github.com/ceolter/ag-grid.git
[submodule "fiddles/angular2/libs/ag-grid-angular2-beta-ts"]
	path = fiddles/angular2/libs/ag-grid-angular2-beta-ts
	url = https://github.com/helix46/ag-grid-angular2-beta-ts.git
[submodule "fiddles/angular/libs/angular-resizable"]
	path = fiddles/angular/libs/angular-resizable
	url = https://github.com/Reklino/angular-resizable
[submodule "fiddles/angular2/libs/angular-ui-tree"]
	path = fiddles/angular2/libs/angular-ui-tree
	url = https://github.com/angular-ui-tree/angular-ui-tree.git
[submodule "fiddles/d3/libs/d3-cookbook"]
	path = fiddles/d3/libs/d3-cookbook
	url = https://github.com/NickQiZhu/d3-cookbook
[submodule "fiddles/d3/libs/d3"]
	path = fiddles/d3/libs/d3
	url = https://github.com/mbostock/d3.git
[submodule "fiddles/d3/libs/sizzle"]
	path = fiddles/d3/libs/sizzle
	url = https://github.com/jquery/sizzle.git
[submodule "fiddles/d3/libs/nvd3"]
	path = fiddles/d3/libs/nvd3
	url = https://github.com/novus/nvd3.git
[submodule "fiddles/angular2/libs/angular2-rxjs-observable-data-services"]
	path = fiddles/angular2/libs/angular2-rxjs-observable-data-services
	url = https://github.com/jhades/angular2-rxjs-observable-data-services.git
[submodule "fiddles/angular2/libs/ag-grid-ng2-example"]
	path = fiddles/angular2/libs/ag-grid-ng2-example
	url = https://github.com/ceolter/ag-grid-ng2-example.git
[submodule "fiddles/d3/libs/d3.wiki"]
	path = fiddles/d3/libs/d3.wiki
	url = https://github.com/mbostock/d3.wiki.git
[submodule "fiddles/angular2/libs/angular-cli"]
	path = fiddles/angular2/libs/angular-cli
	url = https://github.com/angular/angular-cli.git
[submodule "fiddles/angular2/libs/angular2typescript"]
	path = fiddles/angular2/libs/angular2typescript
	url = https://github.com/Farata/angular2typescript.git
[submodule "fiddles/meteor/libs/meteor-workshop-solution"]
	path = fiddles/meteor/libs/meteor-workshop-solution
	url = https://github.com/pavlovich/meteor-workshop-solution.git
[submodule "fiddles/docker/libs/machine"]
	path = fiddles/docker/libs/machine
	url = https://github.com/docker/machine
[submodule "fiddles/bash/libs/brew"]
	path = fiddles/bash/libs/brew
	url = https://github.com/Homebrew/brew
[submodule "fiddles/nativeScript/libs/angular2-seed-advanced"]
	path = fiddles/nativeScript/libs/angular2-seed-advanced
	url = https://github.com/NathanWalker/angular2-seed-advanced
