<!--<GridLayout rows="auto,auto,auto,auto,auto,auto,auto,auto" columns="*,*,*,*,*,*,*,*,*,*">
  <pz-row *ngFor="let row of rows"
          [options]="row"
          (leftClick)="onRowLeftClick($event)"
          (rightClick)="onRowRightClick($event)"
          (squareClick)="onRowSquareClick($event)">
  </pz-row>
</GridLayout>-->
<table>
  <tr *ngFor="let row of rows">
    <pz-row [options]="row"
            (leftClick)="onRowLeftClick($event)"
            (rightClick)="onRowRightClick($event)"
            (squareClick)="onRowSquareClick($event)">
    </pz-row>
  </tr>
</table>
