$panel-header-background-color: #25366C;
$panel-frame-base-color: #CECECE;
$panel-header-color: #FFFFFF;
$panel-border-color: #CECECE;
$panel-body-border-width: 0px;
$panel-frame-border-width: 0px;
$panel-body-color: #CECECE;
$panel-body-color: #CECECE;
