.nvd3-svg {
    padding: 10px;
}
.chart-scrollbox {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    overflow-x: auto;
    overflow-y:auto;
    text-align: left;
    background-color: white;
}
