<html>
<head>
    <title>House ExtJS Fiddle - {{FiddleName}}</title>
    <script type="text/javascript" src="https://extjs.cachefly.net/ext/gpl/5.0.0/build/ext-all-debug.js"></script>
    <script type="text/javascript" src="https://extjs.cachefly.net/ext/gpl/5.0.0/packages/ext-theme-neptune-touch/build/ext-theme-neptune-touch.js"></script>
    <link rel="stylesheet" href="https://extjs.cachefly.net/ext/gpl/5.0.0/packages/ext-theme-neptune-touch/build/resources/ext-theme-neptune-touch-all-debug.css" />
    <script type="text/javascript" src="app.js"></script>
</head>
<body>
</body>
</html>
