<div class="sidebar-component"
     *ngIf="isLoaded"
     [ngStyle]="{'width': '100%', 'height': height + 'px'}">
     <h4><ng-content select="[header]"></ng-content></h4>
     <h4>Report:</h4>
     <div class="form-group">
          <select
                  class="form-control"
                  (change)="onUserSelectReport($event)">
               <option
                       *ngFor="let report of reports"
                       [selected]="isSelected(report.name)"
                       [value]="report.url">
                    {{report.name}}
               </option>
          </select>
     </div>
     <h4>Filters:</h4>
     <div class="form-group" *ngFor="let field of fields">
          <select-component
               [field]="field"
               [title]="field"
               [items]="rows"
               [selectedItems]="selectedValues"
               (change)="onSelectChange($event)"
          >

          </select-component>
     </div>
    <h4></h4>
     <div class="form-group">
          <input type="button"
             class="btn btn-primary"
             (click)="onClearClick($event)" value="Clear" />
          <input type="button"
             class="btn btn-primary"
             (click)="onExportClick($event)" value="Export" />
     </div>


</div>

