@CHARSET "UTF-8";

.nvd3-svg {
    padding: 10px;
}


rect .discreteBar {
    linear-gradient( 45deg, blue, red );
}

stop.yellow { stop-color: #E9F90B; }
stop.red { stop-color: #F91B0B; }
stop.lightblue { stop-color: #0BC1F9; }
stop.blue { stop-color: #0B0BF9; }
