<div class="line-chart" [ngStyle]="{ 'width': width + 'px', 'height': height + 'px' }">
  <div class="card text-white bg-light mb-3" style="width: calc(100%); height: calc(95%);">
  <div class="card-header" style="background: black;"><h3>{{ title }} Stock Quote</h3></div>
    <div class="card-body stock-drop" >
      <div class="container" (mouseover)="onMouseOver()">
        <div class="row">
          <div class="col" ><!-- left side -->
            <div class="container container-table" *ngIf="!isLoaded">
              <div class="row vertical-center-row">
                <div class="alert alert-danger">
                  <strong>Oh snap!</strong> There is no <i>Activity</i> data.
                </div>
              </div>
            </div>
            <dx-chart *ngIf="isLoaded" (mouseover)="onMouseOver()"
                    [ngStyle]="{ 'width': chartWidth + 'px', 'height': chartHeight + 'px' }"
                    id="zoomedChart"
                    title=""
                    [dataSource]="stockPrices"
                    [useAggregation]="true">
              <dxi-series
                      openValueField="open"
                      highValueField="high"
                      lowValueField="low"
                      closeValueField="close"
                      argumentField="date">
              </dxi-series>
              <dxo-common-series-settings type="candleStick"></dxo-common-series-settings>
              <dxi-value-axis valueType="numeric"></dxi-value-axis>
              <dxo-argument-axis
                      [valueMarginsEnabled]="false"
                      argumentType="datetime">
                <dxo-grid [visible]="true"></dxo-grid>
                <dxo-label [visible]="false"></dxo-label>
              </dxo-argument-axis>
              <dxo-legend [visible]="false"></dxo-legend>
              <dxo-tooltip [enabled]="true"></dxo-tooltip>
            </dx-chart>
            <dx-range-selector *ngIf="isLoaded"
                    [ngStyle]="{ 'width': chartWidth + 'px' }"
                    [dataSource]="stockPrices"
                    (onValueChanged)="onValueChanged($event)">
              <dxo-size [height]="130"></dxo-size>
              <dxo-scale
                      minorTickInterval="hour"
                      tickInterval="minute"
                      valueType="time"
                      [placeholderHeight]="20">
              </dxo-scale>
              <dxo-behavior
                      callValueChanged="onMoving"
                      [snapToTicks]="false">
              </dxo-behavior>
              <dxo-chart
                      [useAggregation]="true">
                <dxo-value-axis valueType="numeric"></dxo-value-axis>
                <dxi-series
                        type="line"
                        valueField="open"
                        argumentField="date">
                </dxi-series>
              </dxo-chart>
            </dx-range-selector>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer" style="background: black;">
      <div class="cmeDisclaimerText" style="color: lime; font-family: arial; font-size: 13px; text-align: center;">
        Last updated: <span class="lastUpdated">{{ lastUpdated }}</span>
      </div>
    </div>
  </div>
</div>
