header
{
  background-color: #0855A1;
  color: white;
}

.nav>li>a
{
  color: black;
}

header .nav>li>a
{
  color: white;
}

header .nav>li>a:focus,
header .nav>li>a:hover,
header .nav .open>a,
header .nav .open>a:focus,
header .nav .open>a:hover
{
  color: white;
  background-color: #08376d;
}