@import '~/css/core.light.css';

.action-bar {
    background-color: #3280CF;
    color:white;
}

.action-btn {
    color:white;
    font-size:15;
}

.drawer-content {
    background-color: #053140;
    color: white;
    padding-top: 20;
    width:100%;
    height:100%;
}
.drawer-content label {
    font-size: 20;
    margin: 10 0 15 25;
}



stacklayout button {
    font-size: 20;
    horizontal-align: center;
    height: 25%;
    color: #106CC8;
    width: 100%;
    padding: 0%;
}
gridlayout button {
    font-size: 20;
    color: #106CC8;
    horizontal-align: center;
    height: 15%;
    width: 30%;
    padding: 0%;
}
TextField {
    margin: 15 15 0 15;
}
.link {
    border-width: 0;
    background-color: transparent;
}
.pink {
    color: #FF45F9;
}

.container {
    padding:0;
    margin:0;
}

.drawerMenuContent {
    margin:10;
}

.mainContent{
    background-color: white;
}

.drawerContent {
    background-color: white;
}

.headerContent {
    padding:20;
    background-color: #808080
}

.odd {
    background-color: #efefef;
}

.even {
    background-color: #fff;
}

button.reset {
    font-size: 11;
    height: 8%;
    horizontal-align: center;
}

WrapLayout label {
    padding: 20;
    opacity: .7;
}

GridLayout label {
    font-size: 13;
    horizontal-align: right;
    font-weight: 500;
    padding-top: 10;
    padding-bottom: 10;
    padding-right: 20;
}

.empty {
    background-color:  transparent;

}

.correct {
    background-color:  transparent;

}

.incorrect {
}