.sidebar-component {
    max-width: 16rem !important;
    padding: 1.25rem;
}
.sidebar-component button {
    margin-right: 1.25rem;
    float: right;
}
.sidebar-component p {
    padding: 1.25rem;
}
