@import '~/css/core.dark.android.css';

Page {
    background-image: url('~/images/background.png');
}

actionbar{
    background-color: black;
    color: white;
}

gridlayout button {
    font-size: 20;
    horizontal-align: center;
    opacity: .9;
    border-radius: 20;
    background-color:  #676E5F;
    border-color: #CCD5AB;
    border-width: 2;
    color: white;
    height: 18%;
    width: 30%;
    padding: 0%;
}

button.reset {
    font-size: 11;
    height: 8%;
    horizontal-align: center;
    background-color:  #676E5F;
    opacity: .9;
    border-color: #CCD5AB;
    border-width: 2;
    color: white;
}

GridLayout label {
    font-size: 13;
    horizontal-align: right;
    font-weight: 500;
    color: white;
    background-color:  #DA8D6F;
    opacity: .9;
    padding-left: 10;
    padding-top: 10;
    padding-bottom: 10;
    padding-right: 10;
}

.empty {
    background-color:  transparent;
    border-color: #CCD5AB;
    border-width: 1;
    color: white;
}

.correct {
    background-color:  #676E5F;
    opacity: .9;
    border-color: #CCD5AB;
    border-width: 1;
    color: white;

}

.incorrect {
    background-color: #97A786;
    opacity: .9;
    color: white;

}
