<div [ngSwitch]="isChecked">
    <ul class="{{uiClassPrefix}}-view" *ngSwitchWhen="true">
        <li *ngFor="#node of store | treeNodeChecked:node | treeNodeSearch:queryEl.value">
            <span class="{{uiClassPrefix}}-nodeButton" (click)="node.toggle()">{{node.icon}}</span>
            <input type="checkbox" [checked]="node.checked" (click)="node.check(changed())" />
            {{ node.displayName }}
            <div *ngIf="node.expanded">
                <treeview  [store]="node.nodes" [uiClassPrefix]="uiClassPrefix" [queryEl]="queryEl"></treeview>
            </div>
        </li>
    </ul>
    <ul class="{{uiClassPrefix}}-view" *ngSwitchDefault>
        <li *ngFor="#node of store | treeNodeSearch:queryEl.value">
            <span class="{{uiClassPrefix}}-nodeButton" (click)="node.toggle()">{{node.icon}}</span>
            <input type="checkbox" [checked]="node.checked" (click)="node.check(changed())" />
            {{ node.displayName }}
            <div *ngIf="node.expanded">
                <treeview [store]="node.nodes" [uiClassPrefix]="uiClassPrefix" [queryEl]="queryEl"></treeview>
            </div>
        </li>
    </ul>
</div>
