@CHARSET "UTF-8";

.enter-stage-right {
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -moz-animation-name: slidein;
    -webkit-animation-name: slidein;
}

@-moz-keyframes slidein {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 10%;
    }
}

@-webkit-keyframes slidein {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 10%;
    }
}

.enter-stage-south {
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -moz-animation-name: slide-up;
    -webkit-animation-name: slide-up;
}

@-moz-keyframes slide-up {
    from {
        margin-top: 100%;
    }
    to {
        margin-top: 0%;
    }
}

@-webkit-keyframes slide-up {
    from {
        margin-top: 100%;
    }
    to {
        margin-top: 0%;
    }
}

button {
    color: #000000 !important;
}

p {
    padding-top: 20px;
}

.carousel { z-index: -99; }
.carousel .item {
    position: fixed;
    width: 100%; height: 100%;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;

}
.carousel .one {
    background: url('../images/a.png');
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .two {
    background: url('../images/b.jpg');
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .three {
    background: url('../images/c.jpg');
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .active.left {
    left:0;
    opacity:0;
    z-index:2;
}
.bs-component {
    background-color: #000000;
    padding: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.6);
}
