body {
    font-family: "Courier New";
    font-size: small;
}

.clear {
    clear: both;
}

.cell {
    min-width: 40px;
    min-height: 20px;
    margin: 5px;
    float: left;
    text-align: center;
    border: #969696 solid thin;
    padding: 5px;
}

