
  <nav class="navbar navbar-inverse">
    <div class="container-fixed" [ngStyle]="{'width': width + 'px' }" (resize)="onWindowResize($event)">
      <div class="collapse navbar-collapse pull-left" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">
          <li>
            <app-select-list [options]="selectListOptions"
                             (changed)="onSelectListChange($event)">
            </app-select-list>
          </li>
        </ul>
      </div>
    </div>
  </nav>

