@CHARSET "UTF-8";
@import 'bootstrap.min.css';
@import 'bootstrap.darkly.min.css';


.enter-stage-right {
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -moz-animation-name: slidein;
    -webkit-animation-name: slidein;
}

@-moz-keyframes slidein {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 10%;
    }
}

@-webkit-keyframes slidein {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 10%;
    }
}

.enter-stage-south {
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -moz-animation-name: slide-up;
    -webkit-animation-name: slide-up;
}

@-moz-keyframes slide-up {
    from {
        margin-top: 100%;
    }
    to {
        margin-top: 0%;
    }
}

@-webkit-keyframes slide-up {
    from {
        margin-top: 100%;
    }
    to {
        margin-top: 0%;
    }
}

button {
    color: #000000 !important;
}

p {
    padding-top: 20px;
}

#title {
    position:absolute;
    left:20px;
    top:20px;
}

#prompt {
    position:absolute;
    bottom:20px;
    left:20px;
}

#status {
    position:absolute;
    bottom:20px;
    width:200px;
    height:40px;
    right:20px;
}

#rotation {
    position:absolute;
    left:20px;
    top:0px;
}

#scale {
    position:absolute;
    left:20px;
    top:20px;
}

#slider {
    position:absolute;
    width:800px;
    top:610px;
    height:10px;
    background: #cf4c35;
}

#slider .ui-slider-handle {
    height:12px;
    top:-2px;
    width:16px;
}

#properties {
    color: white;
    position:absolute;
    left:810px;
    top:126px;
    margin-top:10px;
    margin-left:20px;
}

#texturePicker {
    position:absolute;
    top:200px;
    margin-left:10px;
}

#textureUrl {
}

#texturePicker .swatch {
    width: 320px;
    height: 240px;
    margin-left: 20px;
    margin-top:30px;
    background-size:100% 100%;
}

.colorSelector {
    position: absolute;
    margin-left:10px;
}

.colorSelector div {
    position: absolute;
    top: 4px;
    left: 140px;
    width: 28px;
    height: 28px;
    background: url(../js/colorpicker/images/select2.png) center;
}

#diffuseColor {
    position: absolute;
    top:80px;
}

#specularColor {
    position: absolute;
    top:120px;
}

#webglcanvas {
    margin-left: -20px;
    border:none;
    background-color:#000000;
}

.footer-description {
    position: absolute !important;
    width: 800px;
    top: 785px;

}
.footer-born-on {
    position: absolute !important;
    top: 850px;
    width: 800px;
}

.carousel { z-index: -99; }
.carousel .item {
    position: fixed;
    width: 100%; height: 100%;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;

}
.carousel .one {
    background: url('../images/a.png');
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .two {
    background: url('../images/b.jpg');
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .three {
    background: url('../images/c.jpg');
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .active.left {
    left:0;
    opacity:0;
    z-index:2;
}
.bs-component {
    background-color: #000000;
    padding: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.6);
}

