.sidebar-component {
    width: 20%;
    /*max-width: 16rem !important;*/
    padding: 1.25rem;

}
.sidebar-component .btn .btn-primary {
    margin-right: 1.25rem;
    float: right;
}
.sidebar-component p {
    padding: 1.25rem;
}
