

canvas {
  display: block;
  border-radius: 255px 25px 225px 25px/25px 225px 25px 255px !important;
  margin: 0;
  padding: 35px;
  border: 2px solid white !important;
  margin-top: 10px;
  background-color: white !important;

}

.navbar-brand {
  font-family: "Cabin Sketch",cursive;
  font-weight: 400;
  text-decoration: none;
  color: white !important;
}

.navbar {
    border-style: solid;
    border-width: 2px;
    border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
    padding: 10px;
}

.form-control, .input-group-text, input {
  border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
}

.row {

    flex-wrap: nowrap !important;
    justify-content: flex-start !important;
}

.navbar-collapse, .collapse {
  display: block !important;
  flex-wrap: nowrap !important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav .navbar-right:last-child {
  margin-right: -5px !important;
  flex-wrap: nowrap;
}

.navbar-right {
  float: right!important;
}

.navbar-header {
  float:left !important;
}
.navbar-nav {
  float:right !important;
}

.d-flex {
  display: flex;
  align-items: center;
}

.btn-primary {
  background-color: transparent !important;
  border: none !important;
  padding-right: 0 !important;
}

.btn-primary:focus, .btn-primary:active {

  border-style: solid;
  border-width: .5px;
  border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
  background-color: blue;
}

.shepherd-has-cancel-icon, .shepherd-has-title, .shepherd-element, .custom-class-name-1, .custom-class-name-2, .shepherd-centered, .shepherd-enabled {
  font-family: "Cabin Sketch",cursive;
  font-weight: 400;
  text-decoration: none;
  display: block;
  border-radius: 255px 25px 225px 25px/25px 225px 25px 255px !important;
  margin: 0;
  padding: 35px;
  border: 2px solid white !important;
 
  
}


