.title {
    font-size: 30;
    horizontal-align: center;
    margin:20;
}

button {
    font-size: 20;
    horizontal-align: stretch;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

Label {
    vertical-align: center;
    padding: 5;
    margin: 1;
}

.green {
    padding: 10;
}

.red {
    padding: 2;
}

.yellow {
    color: black;
}

.white {
    color: white;
}