.layout-container {
    padding: 10;
}
.btn-lightblue {
    background-color: #4695D9;
    margin: 1;
    color: #ffffff;
    font-size: 20;
    width: 60;
    height: 75;
}
.btn-blank {
    background-color: #ffffff;
    margin: 1;

}
