
@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular-webfont.eot');
    src: url('./Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('./Roboto-Regular-webfont.woff') format('woff'),
    url('./Roboto-Regular-webfont.ttf') format('truetype'),
    url('./Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: 400;
    font-style: normal;
  }

.hello {
    color: red;
    background: url('./a.png');
    font-family: 'Roboto';
}
