<div class="person-list-component">
  <ul class="list-group">
    <li class="list-group-item"
      *ngFor="let person of people"
      [class.attending]="person.attending"
    >
      {{person.name}} - Guests: {{person.guests}}
      <button (click)="addGuest.emit(person.id)">+</button>
      <button *ngIf="person.guests" (click)="removeGuest.emit(person.id)">-</button>
      Attending?
      <input type="checkbox" [(ngModel)]="person.attending" (change)="toggleAttending.emit(person.id)" />
      <button (click)="removePerson.emit(person.id)">Delete</button>
    </li>
  </ul>

</div>
