body {
  font-size: 1em;
  line-height: 1.4;
  font-family: "SansationRegular", "HelevitcaNeue-Light", "Helevitca Neue", Helvetica, Arial, sans-serif;
  .no-fontface & {
    font-size: 1.05em;
  }
}
::-moz-selection {
  background: $color1;
  text-shadow: none;
}
::selection {
  background: $color1;
  text-shadow: none;
}
