
.tree-grid-container {
  width: 100%;
  height: 100%;
}

.tree-grid-container .ui-widget {
  width: 100%;
  height: 100%;
}

.tree-grid-container .mdi {
  vertical-align: middle;
  cursor: pointer !important;
}

.tree-grid-container .slick-viewport {
  background: white;
  border: none;
}

.tree-grid-container .slick-pane.slick-pane-header.slick-pane-left {
  display: none;
}


.tree-grid-container .fs-8
{
  font-size: .7rem;
  line-height: 1.4;
  vertical-align: middle;
}

.tree-grid-container .fs-11
{
  font-size: 14.4px;
  line-height: 1.4;
}

.tree-grid-container .text-pull-right {
  font-size: inherit;
  line-height: inherit;
  vertical-align: text-bottom;
  padding-top: .2rem;
}

.tree-grid-container .slick-header-column .fa,
.tree-grid-container .slick-group-toggle {
  vertical-align: middle;
  font: normal normal normal 20px/1 'Material Design Icons';
  text-rendering: auto;
  font-size: 1.1rem;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.tree-grid-container .slick-group-toggle.expanded:before {
  content: "\F143";
}

.tree-grid-container .slick-group-toggle.childless:before {
  content: "\F143";
  color: white;
  cursor: none;
}

.tree-grid-container .slick-group-toggle.unselected:before {
  content: "\F131";
}

.tree-grid-container .slick-group-toggle.selected:before {
  content: "\F132";
}

.tree-grid-container .slick-group-toggle.collapsed:before {
  content: "\F140";
}

.tree-grid-container .slick-group-toggle.request-children:before
{
  content: "\F415";
}

.tree-grid-container .slick-group-toggle.select-children:before
{
  content: "\F63C";
}

.tree-grid-container .slick-group-toggle.unselect-children:before
{
  content: "\F63E";
}

.slick-group-toggle.child-selected:before {
  content: "\F132";
}

.slick-group-toggle.child-unselected:before {
  content: "\F131";
}

.tree-grid-container .slick-header-column {
  display: none;
  float: none;
  position: absolute;
}


.tree-grid-container .slick-row.even,
.tree-grid-container .slick-row.odd {
  border-bottom: 1px solid #DDD;
}

.tree-grid-container .slick-group.odd,
.tree-grid-container .slick-group.even {
  border-bottom: 1px solid #DDD;
}

.tree-grid-container .slick-group .slick-cell {
  text-align: left;
  cursor: pointer !important;
}

.tree-grid-container .slick-cell {
  border: none;
  line-height: 20px;

}

.tree-grid-container .slick-cell .slick-group-toggle {
  cursor: pointer;
}

.tree-grid-container .slick-cell .bg {
  width: 100%;
  height: 100%;
  display: block;
}

.tree-grid-container .slick-cell .red-bg {
  background: #d9534f;
  color: white;
}

.tree-grid-container .slick-cell .green-bg {
  background: #8ce196;
  color: white;
}

.tree-grid-container input[type="checkbox"] {
  margin: 2px 0 0 0;
  cursor: pointer !important;
}

.tree-grid-container .slick-header-column input[type="checkbox"] {
  margin-top: 7px;
}

.tree-grid-container .slick-cell-checkboxsel {
  text-align: center;
}

