body {
    font-family: "Courier New";
    font-size: xx-small;
}


.fixed-cell {
    min-width: 40px;
    min-height: 20px;
    margin: 5px;
    position: fixed;
    text-align: center;
    border: #969696 solid thin;
    padding: 5px;
    background-color: black;
    color: lawngreen;
}
