.x-tree-icon {
    display: none !important;
}
.x-tree-icon {
    display: none !important;
}
.x-tree-leaf {
    display: none !important;
}
body#ext-element-1 {
    background-color: #ffffff !important;
    padding: 0px !important;
}