GridLayout {
    background-image: url('~/images/background_l_2.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

actionbar{
    background-color: black;
    color: white;
}

button.square {
  font-size: 30vw;
  horizontal-align: left;
  opacity: .9;
  border-radius: 20;
  background-color:  #5A6441;
  border-color: #CCD5AB;
  border-width: 2;
  color: white;
  height: 22.5%;
  width: 30%;
  padding: 0%;
}

button.reset {
  font-size: 10vw;
  height: 8%;
  horizontal-align: center;
  background-color:  #676E5F;
  opacity: .9;
  border-color: #CCD5AB;
  border-width: 2;
  color: white;
  width: 100%;
  border-radius: 10;
}

GridLayout label {
  font-size: 15vw;
  horizontal-align: right;
  text-align: center;
  padding-right: 10;
  padding-left: 10;
  font-weight: 500;
  color: black;
  background-color:  #EBECF0;
  opacity: .8;
  height: 8%;
}

.empty {
  background-color:  transparent;
  border-color: transparent;
  border-radius: 20;
  border-width: 0;
  color: white;
}

.correct {
  background-color:  #62589F;
  opacity: .9;
  border-color: #CCD5AB;
  border-width: 1;
  color: white;

}

.incorrect {
  background-color: #5A6441;
  opacity: .9;
  color: white;

}
