.ag-cell {
  padding: 2px !important;
  border: gainsboro 1px dotted;
}

label {
  font-weight: normal !important;
}

.div-percent-bar {
  display: inline-block;
  height: 100%;
  position: relative;
  z-index: 0;
}

.div-percent-value {
  position: absolute;
  padding-left: 4px;
  font-weight: bold;
  font-size: 13px;
  z-index: 10;
}

.div-outer-div {
  display: inline-block;
  height: 100%;
  width: 100%;
}
