@CHARSET "UTF-8";

@import '../../../resources/css/bootstrap.darkly.min.css';
@import '../../../resources/css/custom.css';

stop.begin { stop-color: white; }
stop.end { stop-color: green; }
body.invalid stop.end { stop-color: red; }
body.invalid #err { display: inline;  }
#err { display: none; }


