<div class="volume" [ngStyle]="{ 'width': width + 'px', 'height': height + 'px' }">
  <div class="card text-white bg-info mb-3" style="width: calc(100%); height: calc(100%);">
    <div class="card-header" style="background: black;"><h3>{{ title }} Market Volume</h3></div>
    <div class="card-body volume-drop">
    <div class="container">
        <div class="row">
          <div class="col col-md-offset-1">
            <div class="container container-table" *ngIf="!isLoaded">
              <div class="row vertical-center-row">
                <div class="alert alert-danger">
                  <strong>Oh snap!</strong> There is no <i>Volume</i> data.
                </div>
              </div>
           </div>
            <dx-data-grid *ngIf="isLoaded" id="gridContainer"
                          [dataSource]="dataSource"
                          [showRowLines]="true"
                          [showBorders]="true">

              <dxo-sorting mode="none"></dxo-sorting>
              <dxo-paging [pageSize]="10"></dxo-paging>

              <dxi-column dataField="date" [width]="90" dataType="date"></dxi-column>
              <dxi-column caption="Open" cellTemplate="diffCellTemplate"></dxi-column>
              <dxi-column caption="Close" cellTemplate="diffCellTemplate"></dxi-column>

            </dx-data-grid>
          </div>
          <div class="col-sm-auto"></div>
        </div>
      </div>
    </div>
    <div class="card-footer" style="background: black;">
      <div class="cmeDisclaimerText" style="color: lime; font-family: arial;">
        Last updated: <span class="lastUpdated">02 Jan 2018, 12:39 pm ET</span><br>
        <i class="text-muted">Quotes are delayed by at least 20 minutes.</i>
      </div>
    </div>
  </div>
</div>
