.chart rect {
    fill: steelblue;
}

.chart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
}

html, body {
    width: 100%;
    height: 100%;
}

stop.begin { stop-color: yellow; }
stop.end { stop-color: green; }
