@CHARSET "UTF-8";

body { padding: 10px; vertical-align: middle; text-align: center }
player-toolbar div.footer {  margin: 0px;  }
player-toolbar nav.navbar.navbar-default {  background-color: transparent;  }
player-toolbar .player-range {  margin-top: 10px;  }
player-toolbar * {  border-radius: 0 !important;  }
player-toolbar .btn-default {  height: 67px; border: none; margin: 0px;  }
player-toolbar .container-fluid { margin: 0px;  }
player-toolbar ul.nav.navbar-nav.navbar-right li.btn.btn-default {  margin-right: 20px;  }
player-toolbar label {  margin-top: 5px;  }
player-toolbar .navbar { background-color: white; }
player-toolbar .navbar-default { border: none; }
player-toolbar  svg.buttons { width:48px;  height:48px; }
.scrollbox {  width: 500px; height: 500px;  overflow-x: scroll;  white-space: nowrap;  }

