<div  class="pie-chart">
    <div class="container containter-table" [ngStyle]="{'width': width + 'px', 'height': height + 'px' }">
        <div class="row vertical-center-row">
            <dx-pie-chart [ngStyle]="{'height': height + 'px' }"
                          id="pie"
                          title="&nbsp;"
                          palette="bright"
                          [dataSource]="volume">
                <dxi-series
                        argumentField="text"
                        valueField="value"
                        >
                    <dxo-label
                            [visible]="true"
                            position="columns">
                        <dxo-font [size]="10"></dxo-font>
                        <dxo-connector
                                [visible]="true"
                                [width]="0.5"></dxo-connector>
                    </dxo-label>
                </dxi-series>
              <dxo-legend
                [margin]="10"
                horizontalAlignment="center"
                verticalAlignment="bottom"></dxo-legend>
            </dx-pie-chart>
        </div>
    </div>

</div>
