.sidebar-component {
  width: calc(20vw);
  padding: 0;
  margin: 0;
  height: calc(90vh);

}

.sidebar-component .btn .btn-primary {
  margin-right: 1.25rem;
  float: right;
}

.sidebar-component p {
  padding: 1.25rem;
}

.sidebar-component .acme-grid-loader {
  padding-left: 20px;
  background: url('./app/assets/img/ajax-loader-small.gif') no-repeat center left;
}
