<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand navbar-dark bg-primary navbar-top">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li id="description" class="navbar-brand" style="font-weight: 700; color: whitesmoke;">
        Enterprise AgGrid ~ State Management
      </li>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item">
        <a id="githubLink" class="nav-item" style="font-weight: 700; color: whitesmoke;" alt="Fork me on GitHub" target="_blank" title="View Source"
           href="https://github.com/bradyhouse/house/blob/master/fiddles/angular2-cli/fiddle-0037-EntAgGridStateManagement">
          Fork Me On Github
        </a>
      </li>

    </ul>
  </div>
</nav>
<app-header (event)="onHeaderClick($event)"></app-header>
<ag-grid-angular
      #agGrid style="width: 100%; height: 100%;" id="myGrid" class="ag-theme-balham" [columnDefs]="columnDefs"
       [masterDetail]="true"
       [modules]="modules"
       [keepDetailRows]="true"
       [defaultColDef]="defaultColDef"
       [keepDetailRowsCount]="keepDetailRowsCount"
       [detailCellRendererParams]="detailCellRendererParams"
       [defaultExportParams]="defaultExportParams"
       [frameworkComponents]="frameworkComponents"
       [excelStyles]="excelStyles"
       [rowData]="rowData"
       (firstDataRendered)="onFirstDataRendered($event)"
       (gridReady)="onGridReady($event)"
       (sortChanged)="onGridStateChanged()"
      (filterChanged)="onGridStateChanged()"
      (columnMoved)="onGridStateChanged()"
      (columnPinned)="onGridStateChanged()"
      (columnResized)="onGridStateChanged()"
      (columnVisible)="onGridStateChanged()"
    ></ag-grid-angular>
    <nav *ngIf="ifInstructions" class="navbar navbar-expand navbar-dark bg-success fixed-bottom navbar-bottom">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav my-2 my-lg-0">
          <li class="nav-item">
            <span id="instructions" style="font-weight: 700; color: whitesmoke;" >
              Reconfigure the grid and then refresh your browser to See State Management in Action. Use the reset button to clear your settings.
            </span>
          </li>
        </ul>
      </div>
    </nav>
