<<<<<<< HEAD
=======
.x-tree-icon {
    display: none !important;
}
.x-tree-icon {
    display: none !important;
}
.x-tree-leaf {
    display: none !important;
}
>>>>>>> b4bda69ea75640ec6729ad591092444755f37038
body#ext-element-1 {
    background-color: #2A3F5D !important;
    padding: 5px 5px 5px 5px !important;
}