.x-tree-icon {
    display: none !important;
}
.x-tree-icon {
    display: none !important;
}
.x-tree-leaf {
    display: none !important;
}
body#ext-element-1 {
    background-color: #2A3F5D !important;
    padding: 5px 5px 5px 5px !important;
}