body {margin: 0;}
.slick-header-columns {background-image: none;}
.slick-header-column {background-image: none; background-color: #eaeaea;}
.slick-header-column:hover {background-image: none; background-color: #D4EEFF;}
.grid {background: white; outline: 0; border: 1px solid gray;}
.slick-row.active {background-color: #fcc;}
