<div class="modal-form-component" [ngStyle]="{ 'left': left +'px', 'top': top + 'px', 'width': width + 'px', 'height': height + 'px' }">
    <div class="modal fade" tabindex="-1" role="dialog" *ngIf="isVisible">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" *ngIf="hasTitle">
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close" (click)="onCloseButtonClick($event)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{{title}}</h4>
                </div>
                <div class="modal-body">
                    <ng-content select="[content]"></ng-content>
                </div>
                <div class="modal-footer" *ngIf="!disableButtons">
                    <button type="button"
                            class="btn btn-default"
                            (click)="onCloseButtonClick()"
                            data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="button"
                            class="btn btn-primary"
                            (click)="onSubmitClick()">
                        {{submitButtonLabel}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

