<!--The content below is only a placeholder and can be replaced.-->
<div class="app-component">
    <ngb-carousel (window:resize)="onWindowResize()" [ngStyle]="{ 'width': width + 'px', 'height': height + 'px' }"
      (slide)="onCarouselSlide($event)">
      <ng-template ngbSlide>
        <app-quote [options]="options" (events)="onPanelEvent($event)"></app-quote>
      </ng-template>
      <ng-template ngbSlide>
        <app-line-chart [options]="options" (events)="onPanelEvent($event)"></app-line-chart>
      </ng-template>
      <ng-template ngbSlide>
        <app-volume [options]="options" (events)="onPanelEvent($event)"></app-volume>
      </ng-template>
      <ng-template ngbSlide>
        <app-pie-chart [options]="options" (events)="onPanelEvent($event)"></app-pie-chart>
      </ng-template>
    </ngb-carousel>
</div>

