<!--The content below is only a placeholder and can be replaced.-->
<div class="app-component">
    <ngb-carousel (window:resize)="onWindowResize()" [ngStyle]="{ 'width': width + 'px', 'height': height + 'px' }"
      (slide)="onCarouselSlide($event)">
      <ng-template ngbSlide>
        <app-quote [options]="options"></app-quote>
      </ng-template>
      <ng-template ngbSlide>
        <app-line-chart [options]="options"></app-line-chart>
      </ng-template>
      <ng-template ngbSlide>
        <div class="container container-table">
          <div class="row vertical-center-row">
            <div class="col">
              <app-volume [options]="options"></app-volume>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="container container-table">
          <div class="row vertical-center-row">
            <div class="col">
              <app-pie-chart [options]="options"></app-pie-chart>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
</div>

