

.app-component {
  padding-right: 0px;
  overflow-y: auto;
}

.app-component .row-center {
  margin: 0 auto;
}
.app-component .container-table {
  display: table;
}
.app-component .vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}

.ngb-carousel .carousel .slide {
  margin-right: 0px;
}


