@CHARSET "UTF-8";

stop.yellow { stop-color: #E9F90B; }
stop.red { stop-color: #F91B0B; }
stop.lightblue { stop-color: #0BC1F9; }
stop.blue { stop-color: #0B0BF9; }

body {
    font-family: "Courier New";
    font-size: small;
    text-align: center;
    background-color: black;
}

.axis path, .axis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}

.axis text {
    font: 10px sans-serif;
    stroke: white;
}

.axis .h-grid-line{
    stroke: white;
    shape-rendering: crispEdges;
    stroke-opacity: 1;
}

.axis .v-grid-line{
    stroke: turquoise;
    shape-rendering: crispEdges;
}

.chart rect {
    fill: steelblue;
}

.chart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
}


