body {
    font-family: "Courier New";
    font-size: small;
    text-align: center;
}

bar-chart svg {
    height: calc(100%);
    width: calc(100%);
}

bar-chart chart-title .chartTitle {
    font-family: "Helvetica";
    font-size: large;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    color: black;
}

bar-chart .axis path, .axis line {
    fill: none;
    stroke: darkslategrey;
    stroke-opacity: .9;
    stroke-width: .5;
}

bar-chart .axis text {
    font-family: "Arial";
    font-size: .5em;
    font-weight: normal;
    font-style: normal;
    stroke-opacity: 1;
    stroke-width: .1;
    stroke: gray;
    color: gray;
}

bar-chart .axis .tick {
    stroke-opacity: 1;
    stroke-width: .1;
    stroke: gray;
    color: gray;
}

bar-chart .axis .h-grid-line {
    stroke: black;
    stroke-opacity: .9;
    stroke-width: .5;
    color: darkslategrey;

}

bar-chart tooltip {
    opacity: 0.9;
    font-weight: bold;
    font-family: Helvetica;
    z-index: 1000;
}

bar-chart tooltip div.tooltip {
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
}

bar-chart tooltip .negative {
    /* top left, top right, bottom right, bottom left */
    -moz-border-radius: 10px 0px 10px 0px;
    -webkit-border-radius: 10px 0px 10px 0px;
    border-radius: 10px 0px 10px 0px;
    -khtml-border-radius: 10px 0px 10px 0px;

    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, #F9AB0B),
            color-stop(1, #E9190B)
    );
    background-image: -moz-linear-gradient(
            center bottom,
            #F9AB0B 0%,
            #E9190B 100%
    );
    color: floralwhite;

}

bar-chart tooltip .positive {

    /* top left, top right, bottom right, bottom left */
    -moz-border-radius: 0px 10px 0px 10px;
    -webkit-border-radius: 0px 10px 0px 10px;
    border-radius: 0px 10px 0px 10px;
    -khtml-border-radius: 0px 10px 0px 10px;

    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, #0BC1F9),
            color-stop(1, #0B0BF9)
    );
    background-image: -moz-linear-gradient(
            center bottom,
            #0BC1F9 100%,
            #0B0BF9 0%
    );
    color: floralwhite;

}

bar-chart stop.yellow {
    stop-color: #E9F90B;
}

bar-chart stop.red {
    stop-color: #F91B0B;
}

bar-chart stop.lightblue {
    stop-color: #0BC1F9;
}

bar-chart stop.blue {
    stop-color: #0B0BF9;
}



