<div class="grid-component"
     [ngStyle]="{ 'width': width + 'px', 'height': gridHeight + 'px'}">
     <ag-grid-ng2 #agGrid  class="ag-material"
                  [ngStyle]="{ 'width': width + 'px', 'z-index': '-1', 'height': gridHeight + 'px'}"
                  [gridOptions]="gridOptions"
                  [columnDefs]="columnDefs"
                  [rowData]="rowData"
                  (rowSelected)="onRowSelected($event)"
                  (cellValueChanged)="onCellValueChanged($event)"
                  (gridReady)="onGridReady($event)"
                  (beforeFilterChanged)="onBeforeFilterChanged()"
                  (filterChanged)="onFilterChanged()"
                  (afterFilterChanged)="onAfterFilterChanged()"
                  (filterModified)="onFilterModified()"
     >
     </ag-grid-ng2>
</div>
