

.modal-overlay-component { color: rgba(0,0,0,0); margin: 10px; text-shadow: 0px 0px 6px #000, 0px 0px 3px #000;
    position: absolute;
    display: block;
    left: -20px;
    top: -20px;
    z-index: 4000;
    overflow: hidden !important;
    background-color: #000000;
    cursor: not-allowed;
    overflow-clip: none;
    text-overflow: clip;
    width: 110%;
    height: 110%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.modal-overlay-component-inner {
    overflow: hidden;
}