.navbar .navbar-default {
  padding-bottom: 0px;

}

.sidebar-component {
  width: 333px;
  padding: 0;
  margin: 0;
  height: calc(100vh);
}

.sidebar-component .btn .btn-primary {
  margin-right: 1.25rem;
  float: right;
}

.sidebar-component p {
  padding: 1.25rem;
}

.sidebar-component .tree-grid-loader {
  padding-left: 20px;
  background: url('../../assets/img/ajax-loader-small.gif') no-repeat center left;
}
