html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
html {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  overflow: none;
}
body {
  padding: 0;
  overflow: auto;
}

.outer-div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.button-bar {
  padding-bottom: 4px;
}

.grid-wrapper {
  height: 20px;
  flex: 1;
}
