@CHARSET "UTF-8";

.tree-table {
    background-color: gainsboro;
    color: black;
    width: 350px;
}

.tree-search-field {
    width: 80%;
}

.tree-view {
    list-style: none;
    overflow: hidden;
    width: 100%;
    color: black;
    background-color: white;
    font-style: normal;
}

.tree-view li {
    font-size: .9em;
    color: black;
}

.tree-scrollbox {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    overflow-x: hidden;
    overflow-y:auto;
    text-align: left;
    background-color: white;
}

.tree-toolbar {
    background-color: gainsboro;
    padding: 10px;

}
