html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
  }
  html {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    overflow: none;
  }
  body {
    padding: 0;
    overflow: auto;
  }
  
  .outer-div {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .button-bar {
    padding-bottom: 4px;
  }
  
  .grid-wrapper {
    height: 20px;
    flex: 1;
  }
  
  .loader {
      width: 3em;
      height: 3em;
      margin: 0 auto;
      animation-duration: 0.7s;
      animation-iteration-count: infinite;
      animation-name: rotation;
      animation-timing-function: linear;
      background-color: transparent;
      border: 3px solid rgba(255, 255, 255, 0.8);
      border-radius: 100%;
      border-top-color: #2180c0;
      z-index: 41;
  }
  
  
  .loader .bounce1 {
      animation-delay: -.32s;
  }
  
  .loader .bounce2 {
      animation-delay: -.16s;
  }
  
  .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(51, 51, 51, 0.95);
      z-index: 40;
  }
  
  @keyframes rotation {
      from {
          transform: rotate(0deg); }
      to {
          transform: rotate(359deg); } }
  
  
  .loader-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(51, 51, 51, .95);}
  .loader-overlay.loader-fullscreen {
      position: fixed; }
  .loader-overlay.loader-overlay--light {
      background: rgba(255, 255, 255, 0.5); }
  .loader-overlay.loader-overlay--light p {
      color: #000; }
  .loader-overlay.loader-overlay--light .loader {
      border: 3px solid rgba(0, 0, 0, 0.1);
      border-top-color: #2180c0; }
  
  .loader-wrapper {
      position: absolute;
      top: 50%;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      z-index: 40; }
  .loader-wrapper > p {
      position: relative;
      padding: 6px;
      color: #fff; }
  .loader-fullscreen .loader-wrapper {
      position: fixed;
      width: 100%;
      margin: 0 auto; }
  .loader-wrapper .loader {
      margin-top: -24px; }
  
  
  /* Circle loader */
  .circle-loader {
      width: 20px;
      height: 20px;
      background-color: black;
      border-radius: 100%;
      animation: sk-scaleout 1.0s infinite ease-in-out;
      display: inline-block;
      -webkit-backface-visibility: hidden;
  }
  
  @keyframes sk-scaleout {
      0% {
          transform: scale(0);
      } 100% {
            transform: scale(1.0);
            opacity: 0;
        }
  }
  
  .cover {
      position: fixed;
      z-index: 1000;
      background: white;
      width: 100%;
      height: 100%;
      padding: 0;
      background-color: #0079C1 !important;
      color: white !important;
  
  }
  
  .cover .row {
      height: 100%;
      display: table;
      width: 100%;
  }
  
  .cover .col-md-12 {
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      float: none;
  }
  
  .cover h1 {
      margin: 0;
  }
  
  .cover .loader {
      padding-top: 15px;
  }
  
  .cover.loaded {
      display: none;
  }
  
  .cover .loader > div {
      background-color: #fff;
  }