
.page {
  background-image: url('~/images/gameboard_logo.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

actionbar {
    background-color: black;
    color: white;
}

WrapLayout {
    padding-top: 20;
}

Image {
    display: block;
    margin: 0 auto;
}

WrapLayout label {
    font-size: 11vw;
    background-color: gray;
    color: white;
    padding: 20;
    opacity: .9;
}

Image {
    padding: 10%;
}
