
.header {
  border-bottom: 1px solid;
  display: grid;
  grid-template-columns: calc(calc(.25rem + (100vw - calc(34rem + 3rem)) / 2) - 1.5rem) 1fr;
  grid-gap: 1.5rem;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 1.125rem;
  padding-top: 0.75rem;
  color: #44464B;
  padding-bottom: 2.25rem;

}

@media (max-width: 50em) {
  .header {
    grid-template-columns: 1fr 1fr;
  }
}

.header > .title {
  color: inherit;
  text-decoration: none;
}

.header > .title:hover, .title:focus {
  color: #e33d26;
}

